<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>{{ settings.NAME }}</title>
    <style>
        table, th, td {
          border: 1px solid black;
        }
</style>
</head>
<body>
    <table id="itemOrderTable" style="width:100%">
    </table>

    {% csrf_token %}
    <script>
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    </script>

    {% load static %}
    <script src={% static 'kitchen/GenerateTable.js' %}></script>
</body>
</html>