<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />

    <style>
        body {
            padding: 20px;
        }

        input {
            padding: 5px;
            background-color: transparent;
            border: none;
            border-bottom: solid 4px #8c52ff;
            width: 250px;
            font-size: 24px;
        }

        .qr-btn {
            background-color: #8c52ff;
            padding: 12px;
            color: white;
            cursor: pointer;
        }
    </style>

    <title>{{ settings.NAME }}</title>
</head>
<body>
    <h3>QR Code Generator</h3>
    <div><input id="table-no" type="number" placeholder="Table no" /></div>
    <br />
    <div>
        <button class="qr-btn" onclick="generateQRCode()">Create new session</button>
    </div>
    <br />
    <p id="qr-result">This is deault QR code:</p>
    <canvas id="qr-code"></canvas>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/qrious/4.0.2/qrious.min.js"></script>
    <script>
        var qr;
        (function () {
            qr = new QRious({
                element: document.getElementById('qr-code'),
                size: 256,
                value: ''
            });
        })();

        async function getNewSession(table_num) {
            let response = await fetch('{% url 'backend:newsess' %}?table_num='+table_num, {method: 'POST'});
            
            if (response.ok)
            {
                let json = await response.json()
                console.log(json)
                return json.sessid;
            } else 
            {
                alert("HTTP-Error: " + response.status + ", ");
                return "";
            }
        }

        async function generateQRCode() {
            var sessid = await getNewSession(document.getElementById('table-no').value);
            console.log(sessid)
            document.getElementById("qr-result").innerHTML = "Session ID:" + sessid;
            qr.set({
                foreground: 'black',
                size: 256,
                value: sessid
            });
        }
    </script>

</body>
</html>